<!DOCTYPE html>
<html style="
    background-color: #f4f6ff;
">
	<head>
	  	<link rel="stylesheet" href="{{ url_for('static', filename='asset_code.css') }}">
	  	<link rel="stylesheet" href="../static/asset_code.css">
	  	<script src="https://unpkg.com/htmx.org@1.7.0"></script>
	</head>
	<body>
		<h1>Demo</h1>

		<div class="main">
			<div class="display_box">
				<h3>Demodulated Hex</h4>
				<form action="/send" method="POST">
					<p hidden hx-get="/data" hx-target="#output_api" hx-trigger="every 5s"></p>
					<p id="output_api" class="subtitle has-text-grey mt-6"></p>				
				</form>
			</div>
			<div class="radio_input_box">
				<form action="/send" method="POST">
					<label for="fname">Radio Command:</label>
	  				<input type="text" id="rcmd" name="rcmd">
					<button type="submit">Send</button>
				</form>

			</div>
		</div>
	</body>
</html>
